<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Leaf Lens - The future of Farming</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static', filename='new_assests/favicon.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
  

  <nav class="flex justify-between px-20 items-center bg-green-50 shadow-lg  sticky top-0">
    <img class="w-20" src="{{url_for('static', filename='new_assests/logo.png')}}" alt="logo image">
    <ul class="flex gap-x-10">
      <a href="{{url_for('home')}}"><li class="text-xl font-semibold cursor-pointer">Home</li></a>
      <a href="{{url_for('about_us')}}"><li class="text-xl font-semibold cursor-pointer	">About</li></a>
      <a href="{{url_for('products')}}"><li class="text-xl font-semibold cursor-pointer	">Store</li></a>
      <a href="{{url_for('contactus')}}"><li class="text-xl font-semibold cursor-pointer	">Contact</li></a>
      <a href="{{url_for('more')}}"><li class="text-xl font-semibold cursor-pointer	">More</li></a>
    </ul>
    <ul class="flex gap-x-10 items-center text-xl">
      <li><i class="fa-solid fa-user cursor-pointer	"></i></li>
      <li><a href="{{url_for('login')}}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded cursor-pointer shadow-xl">Login
          <i class="fa-solid fa-arrow-right-to-bracket"></i></a></i></li>
    </ul>
  </nav>
  