@font-face {
  font-family: Just Believe;
  src: url("./fonts/Just\ Believe.ttf");
}

body {
  background-image: url('Untitled\ design.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  /* display: flex; */
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  background-color: #ffffff13;
  width: 100%;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 16px;
  /* background-color: rgb(225, 255, 236); */
  backdrop-filter: blur(5px);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  /* border-radius: 25px; */
  /* margin: 10px; */
}

.logo {
  position: absolute;
  top: -1px;
  /* Adjust as needed */
  left: 8px;
  /* Adjust as needed */
  width: 80px;
  /* Adjust as needed */
  height: auto;
  /* Maintain aspect ratio */
  z-index: 1;
  /* Ensure logo is above the background */
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-left: 35px;    
  /* padding: 10px 20px; */
}

.navbar ul li a {
  display: inline-block;
  padding: 12px 0 12px 0;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: large;
  position: relative;
  text-decoration: none;
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.navbar ul li a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
  opacity: 1;
}

.navbar ul li a::before{
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 0%;
  bottom: 10px;
}

.navbar ul li a:hover::before{  
  width: 100%;
}

.profile_notif {
  display: flex;
  position: absolute;
  right: 20px;
  flex-direction: row-reverse;
  align-self: flex-end;
  height: 40px;
}

.profile_notif img {
  margin-left: 10px;
  margin-right: 10px;
}

.profile_notif img:nth-child(2) {
  margin-right: 20px;
}

.main-body{
  padding-top: 150px;
  margin: 0;
}

.main-header{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10vh;
  font-weight: 500;
  margin: 0;
  padding-left: 55px;
  display: flex;
  justify-content: center;
}

.below-header{
  padding: 0px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  padding-left: 90px;
}

.below-main-header {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.know-more {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
}

/* .know-more:hover {
  background-color: #ffffffec;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
} */

button {
  position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #ffffffc5;
  border: 2px #f8f8f8 solid;
  border-radius: 4px;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(5px);
  /* background-color: #81ff89; */
  transition:         0.08s ease-in;
  --o-transition:      0.08s ease-in;
  --ms-transition:     0.08s ease-in;
  --moz-transition:    0.08s ease-in;
  --webkit-transition: 0.08s ease-in;
  border-radius: 50px;
}

.button-fill:hover {
  color: rgb(0, 0, 0);
}

.button-fill:before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  --webkit-transition: top 0.09s ease-in;
}

.button-fill:hover:before {
  top: 0;
}
