<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>footer</title>
    <style>



    </style>
</head>
<body>

    <footer>
            <div class="footer">
                <div class="footer-content">
                    <p>ABOUT US</p>
                    <a href="">Company profile</a>
                    <a href="">R & D</a>
                    <a href="">Our team</a>
                    <a href="">Our Promise</a>
                    <a href="">Our Milestones</a>  
                    
                </div>
                <div class="footer-content">
                    <p>OUR PRODUCTS</p>
                    <a href="">herbicides</a>
                    <a href="">Insecticide</a>
                    <a href="">Fungicide</a>
                    
                </div>
                <div class="footer-content">
                    <p>QUICK LINKS</p>
                    <a href="">About us</a>
                    <a href="">Our products</a>
                    <a href="">Career</a>
                    <a href="">Contact Us</a>
                    
                </div>
                
                <div class="footer-content">
                    <p>FOLLOW US</p>
                    <div class="follow">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
            
    </footer>

</body>
</html>