<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Lens</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="../assets/logo and favicon/Logo.png" type="image/x-icon">
</head>

<body>
    <section class="homePage">

    <div class="header">

            <img src="../assets/logo and favicon/Logo.png" alt="Logo" class="logo">
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="contact_us.html">Contact</a></li>
            </ul>
        </nav>
        <div class="profile_notif">

            <a href="#"><i class="fa-solid fa-bell icons"></i></a>
            <a href="./login_register.html"><i class="fa-solid fa-user icons"></i></a>

        </div>
    </div>
    <div class="main-body">
        <h1 class="main-header">The Future of <br> Farming</h1>
        <h2 class="below-main-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <div class="know-more"><button class="button-fill">Know More</button></div>
    </div>
</section>
<section class="homepage2">
    <div class="top_heading">
        <img src="../assets/logo and favicon/Logo.png" alt="">
        <h1 class="main_heading">Our Solutions</h1>
    </div>
    <div class="parts">
        <div class="part">
            <img src="../assets/logo and favicon/Logo.png" alt="">
            <h1>HELLO</h1>
            <div><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quam facilis cupiditate recusandae nihil eaque autem repellat! Doloremque omnis, veritatis ullam iusto repudiandae, recusandae atque, assumenda quam at ipsa molestias?</p></div>

        </div>
       
        <div class="part">
            <img src="../assets/logo and favicon/Logo.png" alt="">
            <h1>HELLO</h1>
            <div><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet impedit quos eaque atque perferendis modi similique aliquid ipsam maiores et ullam aperiam consequatur praesentium, sed nobis inventore temporibus quam.</p></div>

        </div>
        <div class="part">
            <img src="../assets/logo and favicon/Logo.png" alt="">
            <h1>HELLO</h1>
            <div><p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque sed harum omnis, ea distinctio mollitia repellendus quo modi sapiente! Doloremque nemo blanditiis magni ab reprehenderit tenetur at unde debitis nulla.</p></div>

        </div>

    </div>
</section>
<section class="weatherPage">
    <div class="weather-glass">


    <div class="wrapper">
        <header><i class="bx bx-left-arrow-alt"></i>Weather App</header>
        <section class="input-part">
          <p class="info-txt"></p>
          <div class="content">
            <input type="text" spellcheck="false" placeholder="Enter City Name" required />
            <div class="separator"></div>
            <button>Location auto-detect</button>
          </div>
        </section>
        <section class="weather-part">
          <img src="" alt="Weather Icon" />
          <div class="temp">
            <span class="numb">_</span>
            <span class="deg">°</span>C
          </div>
          <div class="weather">_ _</div>
          <div class="location">
            <i class="bx bx-map"></i>
            <span>_, _</span>
          </div>
          <div class="bottom-details">
            <div class="column feels">
              <i class="bx bxs-thermometer"></i>
              <div class="details">
                <div class="temp">
                  <span class="numb-2">_</span>
                  <span class="deg">°</span>C
                </div>
                <p>Feels like</p>
              </div>
            </div>
            <div class="column humidity">
              <i class="bx bxs-droplet-half"></i>
              <div class="details">
                <span>_</span>
                <p>Humidity</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

</section>
<script src="../scripts/script.js"></script>
</body>

</html>