<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Lens - Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat&display=swap');
    </style>
    
</head>
<body>
    <section class="bgbg">
    <div class="form-bg">
        <div class="form-img">
        </div>
        <div class="form-content">
            <form action="">
                <div class="form-header-div"><h2 class="form-header">Welcome to Leaf sdsdLens!</h2></div>
                <div class="input-box-main">
                    <div class="input-box">
                        <input type="text" placeholder="Username" required class="username-box">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required class="username-box">
                        <i class='bx bx-lock-alt'></i>
                    </div>
                    <div class="forgot-pass"><a href="#">Forgot Password?</a></div>
                    
                </div>
                <div class="buttons">
                    <button type="submit" class="btn">Login</button>
                    <button class="btn">Sign Up</button>
                </div>
                
            </form>
        </div>
    </div>
    </section>
</body>
</html>